@font-face{
      font-family:Title;
      src: url('https://raw.githubusercontent.com/sumardy23/realportfolio/blob/gh-pages/Better%20Together%20Script.ttf') format('truetype');
    }
    h1{
      font-family: Arial;
      font-size: 150px;
    }
    body{
      text-align: center;
      background-color: #f7ece3;
      margin-left: 5%;
      margin-right: 5%;
    }
    .left {
      text-align: left;
    }
    h3 {
      font-family: Title;
      font-size: 35px;
    }
    h4{
      font-family: Arial;
      font-size:25px;
      text-align: left;
    }
    h2{
      font-family: Arial;
      font-size: 50px;
    }
    .pfont{
      font-family:Verdana;
      font-size: 20px;
    }
    .footerimg {
      height: 60px;
    }
    .bottom{
    margin-bottom: 5%;
    }
    .footer{
    margin-left: 10px;
    margin-right: 10px;
    }
    img {
    height: 170px;
    }
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
}
li {
      display: inline;
}
li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
.head{
      background-color:#f98bc6;
}
